In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [2]:
conn = sqlite3.connect('database.sqlite')

In [3]:
cursor = conn.cursor()
type(cursor)

sqlite3.Cursor

In [4]:
for row in cursor.execute("SELECT name FROM sqlite_master"):
    print(row)

('Iris',)

In [5]:
# shortcut
sample_data = cursor.execute("SELECT * from Iris LIMIT 5").fetchall()
print(type(sample_data))
sample_data

<class 'list'>

[(1, 5.1, 3.5, 1.4, 0.2, 'Iris-setosa'),
 (2, 4.9, 3, 1.4, 0.2, 'Iris-setosa'),
 (3, 4.7, 3.2, 1.3, 0.2, 'Iris-setosa'),
 (4, 4.6, 3.1, 1.5, 0.2, 'Iris-setosa'),
 (5, 5, 3.6, 1.4, 0.2, 'Iris-setosa')]

In [6]:
cursor.description

(('Id', None, None, None, None, None, None),
 ('SepalLengthCm', None, None, None, None, None, None),
 ('SepalWidthCm', None, None, None, None, None, None),
 ('PetalLengthCm', None, None, None, None, None, None),
 ('PetalWidthCm', None, None, None, None, None, None),
 ('Species', None, None, None, None, None, None))

In [7]:
[row[0] for row in cursor.description]

['Id',
 'SepalLengthCm',
 'SepalWidthCm',
 'PetalLengthCm',
 'PetalWidthCm',
 'Species']

In [8]:
iris_data = pd.read_sql_query("SELECT * FROM Iris", conn)
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
iris_data.shape

(150, 6)

In [10]:
iris_data.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [12]:
iris_data['PetalWidthCm'].dtypes

dtype('float64')

In [17]:
iris_setosa = pd.read_sql_query("SELECT * FROM Iris WHERE Species == 'Iris-setosa'", conn)
iris_setosa.shape

(50, 6)

In [18]:
iris_setosa_df = iris_data[iris_data['Species'].str.contains('Iris-setosa')]
iris_setosa_df.shape

(50, 6)

In [19]:
iris_setosa == iris_setosa_df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   True           True          True           True          True     True
1   True           True          True           True          True     True
2   True           True          True           True          True     True
3   True           True          True           True          True     True
4   True           True          True           True          True     True
5   True           True          True           True          True     True
6   True           True          True           True          True     True
7   True           True          True           True          True     True
8   True           True          True           True          True     True
9   True           True          True           True          True     True
10  True           True          True           True          True     True
11  True           True          True           True          True     True
12  True           True          True           True          True     True
13  True           True          True           True          True     True
14  True           True          True           True          True     True
15  True           True          True           True          True     True
16  True           True          True           True          True     True
17  True           True          True           True          True     True
18  True           True          True           True          True     True
19  True           True          True           True          True     True
20  True           True          True           True          True     True
21  True           True          True           True          True     True
22  True           True          True           True          True     True
23  True           True          True           True          True     True
24  True           True          True           True          True     True
25  True           True          True           True          True     True
26  True           True          True           True          True     True
27  True           True          True           True          True     True
28  True           True          True           True          True     True
29  True           True          True           True          True     True
30  True           True          True           True          True     True
31  True           True          True           True          True     True
32  True           True          True           True          True     True
33  True           True          True           True          True     True
34  True           True          True           True          True     True
35  True           True          True           True          True     True
36  True           True          True           True          True     True
37  True           True          True           True          True     True
38  True           True          True           True          True     True
39  True           True          True           True          True     True
40  True           True          True           True          True     True
41  True           True          True           True          True     True
42  True           True          True           True          True     True
43  True           True          True           True          True     True
44  True           True          True           True          True     True
45  True           True          True           True          True     True
46  True           True          True           True          True     True
47  True           True          True           True          True     True
48  True           True          True           True          True     True
49  True           True          True           True          True     True